.profile-settings {
  inline-size: clamp(18.75rem, 16.5493rem + 9.3897vw, 25rem);

  padding: 1rem;

  background-color: #fff;
}

.profile-settings__user-bar {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.profile-settings__avatar-container {
  block-size: 5rem;
  inline-size: 5rem;

  border-radius: 50%;

  overflow: hidden;
}

.profile-settings__avatar {
  block-size: 100%;
  inline-size: 100%;
}

.profile-settings__buttons {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  margin-block: 3rem;
}

.profile-settings-dialog {
  display: flex;
  flex-direction: column;
  
  gap: 2rem;

  padding: 2rem;

  background-color: #fff;
}

.profile-settings-dialog__button {
  align-self: flex-end;
}