.profile {
  display: flex;
  gap: var(--list-gap);

  align-items: center;
  justify-content: flex-end;
}

.profile__avatar {
  block-size: 100%;
  inline-size: 100%;
}

.profile__button {
  block-size: 100%;
  inline-size: var(--navbar-height);

  background-color: transparent;

  border: 1px solid var(--accent-color);
  border-radius: 50%;

  overflow: hidden;
  cursor: pointer;
}