.user-interface {
  block-size: 100%;
  inline-size: 100%;

  padding: 1rem;
}

.user-interface__chat {
  display: grid;
  grid-template-columns: 30% 1fr;

  border: 1px solid var(--accent-color);
  border-radius: 1rem;

  block-size: 100%;
  inline-size: 100%;
}

.user-interface-chat {
  display: grid;

  inline-size: 100%;
  block-size: 100%;

  grid-template-rows: var(--navbar-height) 1fr var(--navbar-height);

  align-content: space-between;
}

.user-interface-chat_empty {
  display: grid;
  grid-template-rows: 1fr;

  inline-size: 100%;
  block-size: 100%;
}

.user-interface-chat_empty-text {
  align-self: center;
  justify-self: center;
}

.user-interface-chat__bar {
  display: grid;

  grid-template-columns: 4rem 1fr 4rem;

  align-items: center;
  justify-content: space-evenly;

  padding: .5rem .5rem 0 .5rem;
}

.user-interface-chat__bar-button {
  display: flex;
  align-items: center;

  font-size: smaller;
}

.user-interface-chat__bar-name {
  text-align: center;
}

.user-interface__chat__bar__image-button {
  inline-size: 2rem;
  block-size: 2rem;

  border-radius: 50%;

  overflow: hidden;
}

.user-interface-chat__messages {
  margin-block: 1rem;
}

.user-interface-chat__input-container {
  padding-inline: 1rem;
}

.user-interface-chat__input {
  inline-size: 90%;
  block-size: 70%;

  padding: .5rem;

  border: 1px solid var(--accent-color);
  border-radius: 1rem;

  font-size: smaller;
  font-family: inherit;
}

.user-interface-chat__input:focus {
  outline: none;
}

.user-interface-chat__input-button {
  inline-size: 10%;
  block-size: 50%;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.user-interface__chats-bar {
  padding: 1rem;

  border-right: 1px solid var(--accent-color);
}

.user-interface__users-list {
  inline-size: 100%;
  
  margin-block: 2rem;
}

.user-interface__users-item {
  inline-size: 100%;
}

.user-interface__users-button {
  inline-size: 100%;

  border: none;
  border-radius: 1rem;

  background-color: transparent;

  font-family: inherit;
  font-size: inherit;

  cursor: pointer;
}

.user-interface__users-button:hover,
.user-interface__users-button:active {
  background-color: var(--hover-accent-color);
}

.user-interface__user-card {
  display: grid;
  grid-template-columns: var(--navbar-height) 1fr;
  grid-template-rows: auto;

  gap: 1rem;

  inline-size: 100%;
}

.user-interface__user-card__image-container {
  inline-size: var(--navbar-height);
  block-size: var(--navbar-height);

  border-radius: 50%;

  overflow: hidden;
}

.user-interface__user-card__names {
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: space-evenly;
}

.user-interface__user-card__name {
  font-size: smaller;
}

.user-interface__user-card__username {
  font-size: small;
}

@media (width < 768px) {
  .user-interface__chats-bar_inactive {
    display: none;
  }

  .user-interface-chat_inactive {
    display: none;
  }

  .user-interface__chat {
    grid-template-columns: 1fr;
  }

  .user-interface__chats-bar {
    border-right: none;
  }
}